<div class="body">
    

<div class="loginContainer">
  
  <div >
    <form [formGroup]="validatorForm" class="sign-in">
        <img src="../../assets/loginImgs/logo.png" class="loginImg">
        <h1 class="titles">Bienvenido</h1>
        <div class="mb-3">
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
          <div *ngIf="formcontrols.email.invalid && formcontrols.email.touched" class="invalid">
            Correo invalido
          </div>
        </div>
        <div class="mb-3">
          <input  formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
          <div *ngIf="formcontrols.password.invalid && formcontrols.password.touched" class="invalid" >
            La contraseña es invalida
          </div>
        </div>
        <button (click)="validation()" class="btn" >Ingresar</button>
        
      </form>
  </div>
</div>

</div>


