<div class="body">
    <!-- <button routerLink="/">volver</button> -->
    <!-- GOW Card -->
    <div class="card" id="GOW" style="width: 18rem;">
        <img   style="border-top-right-radius: 2rem; border-top-left-radius: 2rem;" src="https://mediamaster.vandal.net/m/2-2023/20232119282370_1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">God of War: Ragnarok ha vendido 11 millones de unidades desde su lanzamiento</h5>
            <p class="card-text">A menos de una semana de que se cumplan tres meses del lanzamiento de God of War:
                Ragnarok, Santa Monica Studio ha anunciado que ya ha vendido 11 millones de unidades en todo el mundo.
            </p>
            <a target="_blank" href="https://vandal.elespanol.com/noticia/1350759688/god-of-war-ragnarok-ha-vendido-11-millones-de-unidades-desde-su-lanzamiento/"
                class="btn btn-outline-light">Ver mas</a>
        </div>
    </div>
    

    <div id="c" class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/222x/0f/03/17/0f03176fcc451e0e95edfbf53a20fe59.jpg" id="p" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Descubre cuál es el juego online más jugado en lo que llevamos de 2021</h5>
              <p class="card-text">La locura de los juegos en línea no tiene límites, pero ¿sabes cuál es el juego online más jugado en este momento? Para responderte, exploramos entre diferentes plataformas y consolas qué títulos son los que disfrutan el astronómico número de jugadores actuales. Una cifra que asciende a 2.800 millones de jugadores, de acuerdo con HotPlay (2021).</p>
              <a target="blank" href="https://www.movistar.es/blog/gaming/videojuegos-del-2021-y-cifras-del-juego-online-mas-jugado/"
              class="btn btn-outline-light">Ver mas</a>
            </div>
          </div>
        </div>
      </div>
</div>