<form [formGroup]="userForm">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Contraseña</th>
        <th scope="col">Borrar/Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of users ">
        <th scope="row">{{us.id}}</th>
        <td>{{us.nombre}}</td>
        <td>{{us.correo}}</td>
        <td>{{us.contrasena}}</td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="deleteData(us.id)" type="button" class="btn btn-danger">Borrar</button>
            <button (click)="seeData(us.id, us.nombre, us.correo,us.contrasena)" type="button"
              class="btn btn-warning">Editar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <br>

<!-- inputs -->
  nombre: <br>
  <input id="n" type="text" [class.is-invalid]="f.nombre.errors && f.nombre.touched" formControlName="nombre" />
  <div id="validationServerUsernameFeedback" class="invalid-feedback">
    Nombre obligatorio
  </div>
  <br>
  correo <br>
  <input type="text" [class.is-invalid]="f.correo.touched && f.correo.errors" formControlName="correo" />
  <div id="validationServerUsernameFeedback" class="invalid-feedback">
    correo bligatorio
  </div>
  <br>
  <div class="row g-3 align-items-center">
    <label for="inputPassword6" class="col-form-label">Contraseña </label>

    <div class="col-auto">
      <input formControlName="contrasena" [class.is-invalid]="f.contrasena.errors || f.touched" type="password"
        id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
      <div id="validationServerUsernameFeedback" class="invalid-feedback">
        La contraseña debe tener un minimo de 8 caracteres y un maximo de 26
      </div>
      <input formControlName="id"  type="text" [hidden]="true">
    </div>
  </div>
  <br>

  <!-- hidden update send and cancel buttons -->
  <button [hidden]="showButton" (click)="sendData()" type="button" class="btn btn-outline-success">Agregar</button>
  <button [hidden]="!showButton" (click)="updateData()" type="button" class="btn btn-outline-secondary">guardar cambios</button>
  <button [hidden]="!showButton" (click)="Cancel()" type="button" class="btn btn-outline-dark">Cancelar</button>

</form>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Alerta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Seguro que desea borrar la información?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        <button (click)="rectify()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Borrar</button>
      </div>
    </div>
  </div>
</div>