<form [formGroup]="userForm">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">correo</th>
        <th scope="col">Contraseña</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let us of users ">
        <th scope="row">{{us.id}}</th>
        <td>{{us.nombre}}</td>
        <td>{{us.correo}}</td>
        <td>{{us.contrasena}}</td>
      </tr>
    </tbody>
  </table>
  <br>

  nombre: <br>
  <input id="n" type="text" [class.is-invalid]="f.nombre.errors && f.nombre.touched" formControlName="nombre"/>
  <div id="validationServerUsernameFeedback"  class="invalid-feedback">
   Nombre obligatorio 
  </div>
  <br>
  correo <br>
  <input  type="text" [class.is-invalid]="f.correo.touched && f.correo.errors" formControlName="correo"/>
  <div id="validationServerUsernameFeedback"  class="invalid-feedback">
    correo bligatorio 
   </div>
   <br>
   <div class="row g-3 align-items-center">
     <label for="inputPassword6" class="col-form-label">Contraseña </label>
     
     <div class="col-auto">
       <input  formControlName="contrasena" [class.is-invalid]="f.contrasena.errors || f.touched" type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
       <div id="validationServerUsernameFeedback"  class="invalid-feedback">
         La contraseña debe tener un minimo de 8 caracteres y un maximo de 26
        </div>
    </div>
    </div>
  <br>

  <button (click)="sendData()" type="button" class="btn btn-outline-success">Agregar</button>

</form>